<template>
   
    <div class="c-container">
        <div class="c-container--left">
        <lightning-layout>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field 1">Client ID</p>
                    <p class="field-content">1234569</p>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field2 (3)">Language</p>
                    <p></p>
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field 3">Contactable</p>
                    <input type="checkbox" name="" value="">
                </div>
            </lightning-layout-item>
            <lightning-layout-item padding="around-small">
                <div class="header-column">
                    <p class="field-title" title="Field 4">Client Owner</p>
                    <p>
                        <a class="field-content" href="#">Store Manager Roissy</a>
                    </p>
                </div>
            </lightning-layout-item>
        </lightning-layout>

    <div> 
        <button title="Phone" type="button" class="field-btn btn--blue">Phone</button>
        <button title="Email" type="button" class="field-btn btn--blue">Email</button>
        <button title="SMS" type="button" class="field-btn btn--blue">SMS</button>
        <button title="Address" type="button" class="field-btn btn--blue">Address</button>
        <button title="SMS" type="button" class="field-btn btn--white"><span class="cases">03</span>Open cases</button>
        <button title="Address" type="button" class="field-btn btn--gold">Suggested Products</button>

    </div>

    </div>

<div class="c-container--right">
    <div class="header--right">DIOROMETER</div>
    <div class="diorometer-content">
        <img src="">
        <div class="diorometer-category">
            <img src="">
            <div class="diorometer-category__name">Shoes</div>
        </div>
        <div class="diorometer-category">
            <img src="">
            <div class="diorometer-category__name">Bags</div>
        </div>
        <div class="diorometer-category">
            <img src="">
            <div class="diorometer-category__name">WRTW</div>
        </div>
    </div>
</div>

</div>



</template>