/*.THIS.dark {
    color: #000;
}

.THIS.button {
    border-radius: 5px;
    font-size: 14px;
    padding: 16px 50px;
    border: 1px solid #D3D3D3;
    background-color: 	#1E90FF;
    color: #FFFFFF;
}

.THIS .custom-box {
    
    padding: 10px;
} 

.THIS .title-section{
    background-color: gray-light;
    border: 2px solid #ffffff;
}


.THIS .addInfo{
    color: #1E90FF;
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS.footer {
	height: 70px;
	
}

.THIS.hide{
	display:none;
}*/
.THIS.slds-docked-form-footer{ padding: 0.5rem 0.5rem; display: block;}
.THIS.slds-theme--info slds-notify--toast slds-notify slds-notify--toast forceToastMessage {z-index: 1000}